In [1]:
import pandas as pd
import numpy as np
import random
import networkx as nx
from tqdm import tqdm
import re
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
# preprocess the data

with open (r"C:\Users\watson\Downloads\comp90051-2020-sem2-proj1\train.txt") as f:
    connections = f.read().splitlines()

connected_node = []
for con in connections:
    split_string = con.split("\t")
    connected_node.append(split_string)

assert len(connected_node) == 20000
#print(connected_node)

In [3]:
start_node = []
second_node = []
for node_list in connected_node:
    start = node_list[0]
    connected = node_list 
    del connected[0]
    for nodes in connected:
        start_node.append(start)
        second_node.append(nodes)
        
assert len(start_node) == len(second_node)

In [4]:
df = pd.DataFrame({'node_1': start_node, 'node_2': second_node})

In [5]:
df.head()

   node_1   node_2
0  540762  1912140
1  540762  1537559
2  540762  3091331
3  540762  2757277
4  540762  3237295

In [6]:
print(df)

           node_1   node_2
0          540762  1912140
1          540762  1537559
2          540762  3091331
3          540762  2757277
4          540762  3237295
...           ...      ...
24004356  3547024  1075576
24004357  3547024  4549841
24004358  3547024  1135647
24004359  3547024   807274
24004360  3547024  3897045

[24004361 rows x 2 columns]

In [7]:
# combine all nodes in a list
nodelist = start_node + second_node

# remove duplicate items from the list
nodelist = list(dict.fromkeys(nodelist))

In [8]:
print(len(nodelist))

4867136

create edges that doesn't exist on training set

In [9]:
with open ("nodes.txt" , "a") as d:
    for node in nodelist:
        d.write(node+"\n")

In [10]:
df.to_csv('connected_pairs.csv', index=False)